## Problem Statement: Use MÃ¼llerâ€™s method with guesses of ð‘¥0, ð‘¥1, and ð‘¥2 4.5, 5.5,and 5, respectively, to determine a root of the equation f(ð‘¥)= ð‘¥^3âˆ’ 13ð‘¥ âˆ’ 12

In [14]:
import numpy as np

In [15]:
def f(x):
    return x**3-13*x-12

In [16]:
import pandas as pd
df=pd.DataFrame(columns=["X2","X1","X0","f(X2)","f(X1)","f(X0)","h1","Del1","h0","Del0","a","b","c","Det","X3","f(X3)","Error (%)"])

In [17]:
def muller(x0,x1,x2,es):
    while True:
        h1=x2-x1
        h0=x1-x0
        del1=(f(x2)-f(x1))/(x2-x1)
        del0=(f(x1)-f(x0))/(x1-x0)
        a=(del1-del0)/(h1+h0)
        b=(a*h1)+del1
        c=f(x2)
        det=np.sqrt((b**2)-(4*a*c))
        if b>=0:
            x3=x2+((-2*c)/(b+det))
        elif b<0:
            x3=x2+((-2*c)/(b-det))
        if f(x3)==0:
            print(f"Root:{x3}")
            break
        ea=(abs((x3-x2)/x3))*100
        df.loc[len(df)]=[x2,x1,x0,f(x2),f(x1),f(x0),h1,del1,h0,del0,a,b,c,det,x3,f(x3),ea]
        x0=x1
        x1=x2
        x2=x3
        if ea<=es:
            print(f"Root:{x3}")
            break

In [18]:
es=.02 #error tolerance 0.02%
#initial guesses
x0=4.5
x1=5.5
x2=5
muller(x0,x1,x2,es)

Root:4.000000000000497

In [20]:
df

,X2,X1,X0,f(X2),f(X1),f(X0),h1,Del1,h0,Del0,a,b,c,Det,X3,f(X3),Error (%)
0,5.000000,5.500000,4.500000,48.000000,82.875000,20.625000,-0.500000,69.750000,1.000000,62.250000,15.000000,62.250000,48.000000,31.544611,3.976487,-8.163322e-01,25.739125
1,3.976487,5.000000,5.500000,-0.816332,48.000000,82.875000,-1.023513,47.694884,-0.500000,69.750000,14.476487,32.878012,-0.816332,33.589197,4.001050,3.678070e-02,0.613925
2,4.001050,3.976487,5.000000,0.036781,-0.816332,48.000000,0.024563,34.730980,-1.023513,47.694884,12.977538,35.049753,0.036781,35.022505,4.000001,2.468447e-05,0.026245
3,4.000001,4.001050,3.976487,0.000025,0.036781,-0.816332,-0.001050,35.012616,0.024563,34.730980,11.977538,35.000042,0.000025,35.000025,4.000000,1.740830e-11,0.000018